{%- set shared_menu_en = [
        {
            'name':
            'Docs',
            'children': [
                {
                    'name': 'UDL',
                    'url': 'https://github.com/XiaoXiao-Woo/UDL',
                },
                {
                    'name': 'HyperSpectralCollection',
                    'url': 'https://github.com/XiaoXiao-Woo/HyperSpectralCollection',
                },
                {
                    'name': 'DerainCollection',
                    'url': 'https://github.com/XiaoXiao-Woo/derain',
                }
            ]
        },
        {
            'name':
            'Pansharpening',
            'children': [
                {
                    'name': 'Homepage',
                    'url': 'https://liangjiandeng.github.io/'
                },
                {
                    'name': 'PanCollection',
                    'url': 'https://github.com/liangjiandeng/PanCollection'
                },
                {
                    'name': 'DLPan-Toolbox',
                    'url': 'https://github.com/liangjiandeng/DLPan-Toolbox'
                },
                {
                    'name': 'LeaderBroader (PapersWithCode)',
                    'url': 'https://paperswithcode.com/dataset/worldview-3-pancollection'
                },
                {
                    'name': 'GitHub',
                    'url': 'https://github.com/XiaoXiao-Woo/'
                }
            ]
        },
    ]
-%}

{%- set shared_menu_cn = [
        {
            'name':
            '文档',
            'children': [
                {
                    'name': 'UDL',
                    'url': 'https://github.com/XiaoXiao-Woo/UDL',
                },
                {
                    'name': 'HyperSpectralCollection',
                    'url': 'https://github.com/XiaoXiao-Woo/HyperSpectralCollection',
                },
                {
                    'name': 'DerainCollection',
                    'url': 'https://github.com/XiaoXiao-Woo/derain',
                }
            ]
        },
        {
            'name':
            'Pansharpening',
            'children': [
                {
                    'name': '主页',
                    'url': 'https://liangjiandeng.github.io/'
                },
                {
                    'name': 'PanCollection',
                    'url': 'https://github.com/liangjiandeng/PanCollection'
                },
                {
                    'name': 'DLPan-Toolbox',
                    'url': 'https://github.com/liangjiandeng/DLPan-Toolbox'
                },
                {
                    'name': 'GitHub',
                    'url': 'https://github.com/XiaoXiao-Woo/'
                }
            ]
        },
    ]
-%}

{%- set lang_menu_mapping = {'default': shared_menu_en, 'cn': shared_menu_cn, 'en': shared_menu_en} -%}
